@import 'variables';

#root {
    .stop-wrapper {
        margin-top: 20px;
        border: 1px dotted $blue-grey;
        border-radius: 2px;
    }

    .stop-heading {
        background-color: $dark-primary-color;
        font-size: 20px;
        color: $tertiary-text-color;
        padding-left: 2px;
        height: auto;
    }

    .stop-content {
        padding-left: 2px;
        overflow-y: auto;
        height: 250px;
        max-height: 250px;
    }

    .stop-spinner {
        height: 50px;
    }

    .stop-refresh-all {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 18px;
    }
}

