$dark-primary-color: #689F38;
$default-primary-color: #8BC34A;
$light-primary-color: #DCEDC8;
$text-primary-color: #212121;
$accent-color: #CDDC39;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #e0e0e0;
$divider-color: #BDBDBD;
$blue-grey: #5f7c8a;
$dark-grey: #616161;
$grey: #9e9e9e;
$brown: #795548;
$dark-brown: #5D4037; 
$indigo: #536DFE;
$dark-amber: #FFA000;
$amber: #FFC107;
$superdark-green: #1b5e20;
$dark-green: #388E3C;
$mid-green: #4CAF50;


$mobile-small: 320px;
$nonmobile-small: $mobile-small + 1px;
$mobile-med: 375px;
$nonmobile-med: $mobile-med + 1px;
$mobile-large: 425px;
$nonmobile: $mobile-large + 1px;
$tablet: 768px;
$nontablet: $tablet + 1px;
$medium: 992px;
$nonmedium: $medium - 1px;